.project {
   display: grid;
   grid-template-rows: auto 1fr;
   row-gap: 6rem;
   background-color: var(--blueBackground);
}

.project div {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.project div h1 {
    margin: 0;
}

.headIcon {
    background-color: var(--thirdColor);
}

.project ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 3rem;
    row-gap: 4rem;
}

.project ul li {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.project ul li p,
.project ul li a {
    grid-column: 2 / -1;
    margin:  0;
    font-size: 1.6rem;
    font-weight: 900;
    color: #1971c2;
}

.project ul li a img {
    width: 17rem;
    height: 15rem;
    box-shadow: -1.5rem 1.5rem 0 0 #1971c2;
    border-radius: 1.5rem;
    transition: 1s all;
}

.project ul li a img:hover {
    transform: translate(-1.5rem, 1.5rem);
    box-shadow: -0.2rem 0.2rem 0 0 #1971c2;
}

.popup {
    animation: global(popup) 1s linear;
}
