@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Merienda:wght@300..900&family=Orbitron:wght@400..900&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --primaryColor: #fc7474;
    --secondaryColor: #74fcaf;
    --thirdColor: #52b2fc;
    --greyBlack:  #ffffff;
    --redBackground: rgb(255, 227, 227);
    --greenBackground: rgba(194, 245, 216, 0.544);
    --blueBackground: rgb(208, 235, 255);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Merienda';
    position: relative;
    line-height: 1.3;
    background-color: var(--redBackground);
    overflow-x: hidden;
}

.sticky {
 background-color: rgba(98, 100, 101, 0.848);
}

section {
    padding: 11rem;
}

.sectionHeader {
    font-size: 2rem;
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.icon {
  font-size: 3rem;  
  padding: 1.8rem; 
  color: #000; 
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.57);
}

.iconsmall {
    font-size: 1.4rem;
    padding: 0.8rem; 
    justify-self: center;
}

@media(max-width: 30em) {
   .icon {
    font-size: 2rem;
    padding: 1.4rem;   
   } 

   .iconsmall {
    font-size: 1.2rem;
    padding: 0.5rem;
    }
}
