.academic {
    background-color: var(--greenBackground);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 5rem; */
    position: relative;
}

.slideright {
    animation: global(slideright) 0.8s linear;
}

.flipLeft {
   animation: global(flipLeft) 0.8s linear; 
}

.academic ul {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    gap: 3rem;
}

.academic h3 {
    margin-bottom: 1rem;
    color: #333;
    margin-left: 1.5rem;
}

.academic ul li {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 2rem;
}

li div {
    grid-column: 2 / -1;
}

li h2 {
    font-size: 1.4rem;
    color: #333;
}

li p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    color: #444;
}

.academic img {
    width: 50%;
    border-radius: 1.1rem;
    align-self: center;
}

.headIcon {
    background-color: var(--secondaryColor);
}

/* BOX SKILLS */
.box {
    position: absolute;
    top: -40rem;
    color: #1c1a1a;
    width: 30rem;
    padding: 2rem 0;
    background-color: var(--redBackground);
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    animation: global(slideup) 1s linear;
    box-shadow: 0 0 1rem 0.1rem var(--primaryColor);
    transition: 1s all;
}

.box:hover {
    transform: translateY(-1.8rem);
    z-index: 1000;
    box-shadow: 0 0 0.2rem 1rem var(--primaryColor);
}

.skills {
   left: 10rem;
}

.hobbies {
    right: 10rem;
}

.iconChild {
background-color: var(--primaryColor);
}

.box h1 {
    font-size: 2.4rem;
    font-weight: 900;
}

.box ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.6rem;
    font-family: 'rubik';
}

@media(max-width: 35em) {
  .academic {
    height: 100vh;
  }

 .box {
    padding: 1rem 0;
 }

 .box h1 {
    font-size: 2em;
}

.box ul {
    font-size: 1.4rem;
}

 .skills {
   top: -55rem;
   left: 5rem;
 }

 .hobbies {
    right: 5rem;
 }

 .academic {
    grid-template-columns: 1fr;
  }

  .academic div:nth-child(1) {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    row-gap: 3rem;
  }

  .academic h1 {
    margin: 0rem 0rem;
    margin-left: 2rem;
    align-self: center;
  }

  .academic ul {
    grid-column: 1 / -1;
    padding-left: 1.25rem;
  }

  .academic ul li {
     column-gap: 2.5rem;
  }

  .academic img {
    width: 80%
  }

 }

